<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592255558868-92k0pggdgms5rai5t6vg2l9ehafldqql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592255558868-92k0pggdgms5rai5t6vg2l9ehafldqql</string>
	<key>API_KEY</key>
	<string>AIzaSyApFIljOrY-A0mwS06eR1Ufp0gk9qWdonE</string>
	<key>GCM_SENDER_ID</key>
	<string>592255558868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eamonkendall.ReGen-Responder</string>
	<key>PROJECT_ID</key>
	<string>regen-11958</string>
	<key>STORAGE_BUCKET</key>
	<string>regen-11958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592255558868:ios:d61ba27e02b8f36f450741</string>
	<key>DATABASE_URL</key>
	<string>https://regen-11958-default-rtdb.firebaseio.com</string>
</dict>
</plist>
